<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.bht.fpa.mail.s826445.filter.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="de.bht.fpa.mail.s826445.filter.commands.category"
            id="de.bht.fpa.mail.s826445.filter.commands.configureFilter"
            name="Configure Filter">
      </command>
      <command
            categoryId="de.bht.fpa.mail.s826445.filter.commands.category"
            id="de.bht.fpa.mail.s826445.filter.commands.clearFilter"
            name="Clear Filter">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.bht.fpa.mail.s826445.filter.handlers.FilterDialogHandler"
            commandId="de.bht.fpa.mail.s826445.filter.commands.configureFilter">
      </handler>
      <handler
            class="de.bht.fpa.mail.s826445.filter.handlers.ClearCommandHandler"
            commandId="de.bht.fpa.mail.s826445.filter.commands.clearFilter">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.bht.fpa.mail.s826445.filter.commands.configureFilter"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.bht.fpa.mail.s826445.filter.menus.sampleMenu"
               label="Filter"
               mnemonic="M">
            <command
                  commandId="de.bht.fpa.mail.s826445.filter.commands.configureFilter"
                  id="de.bht.fpa.mail.s826445.filter.menus.configureFilter"
                  mnemonic="S">
            </command>
            <command
                  commandId="de.bht.fpa.mail.s826445.filter.commands.clearFilter"
                  id="de.bht.fpa.mail.s826445.filter.menus.clearFilter"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.bht.fpa.mail.s826445.filter.toolbars.sampleToolbar">
            <command
                  commandId="de.bht.fpa.mail.s826445.filter.commands.configureFilter"
                  icon="icons/sample.gif"
                  id="de.bht.fpa.mail.s826445.filter.toolbars.configureFilter"
                  tooltip="Say hello world">
            </command>
            <command
                  commandId="de.bht.fpa.mail.s826445.filter.commands.clearFilter"
                  icon="icons/sample.gif"
                  id="de.bht.fpa.mail.s826445.filter.toolbars.clearFilter"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
