<div class="section" id="background_top">
    <div class="valign-wrapper">
        <div class="valign center-align">
            <a [routerLink]="['/passenger']" class="button waves-effect waves-light btn-large z-depth-5">Find a ride</a>
        </div>
    </div>
</div>

<div class="divider"></div>

<div class="section" id="background_bottom">
    <div class="valign-wrapper">
        <div class="valign center-align">
            <a [routerLink]="['/provider']" class="button waves-effect waves-light btn-large z-depth-5">Offer a ticket</a>
        </div>
    </div>
</div>
