// compileCompressed: ../../../../../public/styles/$1.min.css
// when using atom package:sass-autocompile it compiles the minified version
// to the specified path, if using another compiler, the path has to be specified
// separately
@import '../../../../scss/variables.scss';
:host {}
form {
    height: 94%;
}
.row {
    height: 100%;
}
#result-wrapper {
    overflow: scroll;
    height: 60%;
}
.collection .collection-item {
    background-color: transparent;
}
.collection .collection-item.avatar i.circle {
    background-color: $accent-color;
}
.collection .collection-item.avatar p {
    text-overflow: ellipsis;
    white-space: nowrap;
}
.collection {
    border: 0;
}
.row {
    a {
        padding-left: 0;
    }
}
#file {
    color: #9e9e9e;
    i {
        float: right;
        font-size: 12px;
        line-height: 31px;
        color: #fff;
        background-color: #00BCD4;
        text-align: center;
        width: 30px;
        height: 30px;
    }
}
