// compileCompressed: ../../../../../public/styles/$1.min.css
// when using atom package:sass-autocompile it compiles the minified version
// to the specified path, if using another compiler, the path has to be specified
// separately
@import '../../../../scss/variables.scss';
:host {}
.btn-floating {
    background-color: $accent-color;
}
#recordRoute {
    height: 30%;
}
.row {
    margin-bottom: 0;
}
