<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.bht.fpa.mail.s826445.maillist.MaillistView"
            id="de.bht.fpa.mail.s826445.maillist.view1"
            name="MailListView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="de.bht.fpa.mail.s826445.maillist.view1"
               minimized="false"
               relationship="top"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>