<!--MODAL TRIGGER-->
<a class="btn-floating btn modal-trigger" materialize="leanModal" href="#startUser"><i class="fa fa-user"></i></a>
<!--MODAL CONTENT-->
<div id="startUser" class="modal bottom-sheet">
    <div class="modal-content">
        <form>
            <div class="row">
                <div class="input-field col s12">
                    <input id="user_name" type="text" class="validate">
                    <label for="user_name">Benutzername</label>
                </div>
                <div class="input-field col s12">
                    <input id="user_password" type="password" class="validate">
                    <label for="user_password">Passwort</label>
                </div>
                <div class="col s12">
                    <a class="footnote">Passwort/Benutzername vergessen?</a>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Login</a>
    </div>
</div>
