<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.bht.fpa.mail.s826445.imapnavigation.NavigationView"
            id="de.bht.fpa.mail.s826445.imapnavigation.view1"
            name="imapnavigation"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="de.bht.fpa.mail.s826445.imapnavigation.view1"
               minimized="false"
               ratio="0.25f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.bht.fpa.mail.s826445.imapnavigation.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="de.bht.fpa.mail.s826445.imapnavigation.commands.category"
            id="de.bht.fpa.mail.s826445.imapnavigation.commands.SetBaseDirCommand"
            name="Set Base Directory">
      </command>
      <command
            categoryId="de.bht.fpa.mail.s826445.imapnavigation.commands.category"
            id="de.bht.fpa.mail.s826445.imapnavigation.commands.historyCommand"
            name="History">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.bht.fpa.mail.s826445.imapnavigation.handlers.SetBaseDirHandler"
            commandId="de.bht.fpa.mail.s826445.imapnavigation.commands.SetBaseDirCommand">
      </handler>
      <handler
            class="de.bht.fpa.mail.s826445.imapnavigation.handlers.History"
            commandId="de.bht.fpa.mail.s826445.imapnavigation.commands.historyCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.bht.fpa.mail.s826445.imapnavigation.commands.SetBaseDirCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+d">
      </key>
      <key
            commandId="de.bht.fpa.mail.s826445.imapnavigation.commands.historyCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+h">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.bht.fpa.mail.s826445.imapnavigation.menus.imapnavigation"
               label="FS Navigation"
               mnemonic="M">
            <command
                  commandId="de.bht.fpa.mail.s826445.imapnavigation.commands.SetBaseDirCommand"
                  id="de.bht.fpa.mail.s826445.imapnavigation.menus.SetBaseDirCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="de.bht.fpa.mail.s826445.imapnavigation.commands.historyCommand"
                  id="de.bht.fpa.mail.s826445.imapnavigation.menus.historyCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.bht.fpa.mail.s826445.imapnavigation.toolbars.menuToolbar">
            <command
                  commandId="de.bht.fpa.mail.s826445.imapnavigation.commands.SetBaseDirCommand"
                  icon="icons/sample.gif"
                  id="de.bht.fpa.mail.s826445.imapnavigation.toolbars.SetBaseDirCommand"
                  tooltip="Set the base directory">
            </command>
             <command
                  commandId="de.bht.fpa.mail.s826445.imapnavigation.commands.historyCommand"
                  icon="icons/sample.gif"
                  id="de.bht.fpa.mail.s826445.imapnavigation.toolbars.historyCommand"
                  tooltip="Get History">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
