.project
.classpath
.idea/.name
.idea/Beuth_CGI.iml
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
CGI_WS_15_16/CGI_WS_15_16.iml
CGI_WS_15_16/.idea/.name
CGI_WS_15_16/.idea/compiler.xml
CGI_WS_15_16/.idea/misc.xml
CGI_WS_15_16/.idea/modules.xml
CGI_WS_15_16/.idea/vcs.xml
CGI_WS_15_16/.idea/workspace.xml
CGI_WS_15_16/.idea/copyright/profiles_settings.xml
out/production/CGI_WS_15_16/application/application.css
out/production/CGI_WS_15_16/application/ImageOpener_FX.class
out/production/CGI_WS_15_16/application/ImageOpener_FX_Swing.class
out/production/CGI_WS_15_16/application/PNGCreater_FX.class
out/production/CGI_WS_15_16/application/PNGCreater_FX_Swing.class
out/production/CGI_WS_15_16/Matrizen_Vektoren_Bibliothek/Mat3x3.class
out/production/CGI_WS_15_16/Matrizen_Vektoren_Bibliothek/Normal3.class
out/production/CGI_WS_15_16/Matrizen_Vektoren_Bibliothek/Point3.class
out/production/CGI_WS_15_16/Matrizen_Vektoren_Bibliothek/Vector3.class
out/production/CGI_WS_15_16/test_Matrizen_Vektoren_Bibliothek/Mat3x3Test.class
out/production/CGI_WS_15_16/test_Matrizen_Vektoren_Bibliothek/Normal3Test.class
out/production/CGI_WS_15_16/test_Matrizen_Vektoren_Bibliothek/Point3Test.class
out/production/CGI_WS_15_16/test_Matrizen_Vektoren_Bibliothek/Vector3Test.class
org.eclipse.wst.common.project.facet.core.xml
org.eclipse.jdt.core.prefs
out/production/CGI_WS_15_16/src/application/ImageOpener_FX.class
out/production/CGI_WS_15_16/src/application/ImageOpener_FX_Swing.class
out/production/CGI_WS_15_16/src/application/PNGCreater_FX.class
out/production/CGI_WS_15_16/src/application/PNGCreater_FX_02.class
out/production/CGI_WS_15_16/src/application/PNGCreater_FX_Swing.class
out/production/CGI_WS_15_16/src/Matrizen_Vektoren_Bibliothek/Mat3x3.class
out/production/CGI_WS_15_16/src/Matrizen_Vektoren_Bibliothek/Normal3.class
out/production/CGI_WS_15_16/src/Matrizen_Vektoren_Bibliothek/Point3.class
out/production/CGI_WS_15_16/src/Matrizen_Vektoren_Bibliothek/Vector3.class
out/production/CGI_WS_15_16/src/test_Matrizen_Vektoren_Bibliothek/Mat3x3Test.class
out/production/CGI_WS_15_16/src/test_Matrizen_Vektoren_Bibliothek/Normal3Test.class
out/production/CGI_WS_15_16/src/test_Matrizen_Vektoren_Bibliothek/Point3Test.class
out/production/CGI_WS_15_16/src/test_Matrizen_Vektoren_Bibliothek/Vector3Test.class
CGI_WS_15_16.iml
develop_git.ipr
develop_git.iws
