// compileCompressed: ../../../../../public/styles/$1.min.css
// when using atom package:sass-autocompile it compiles the minified version
// to the specified path, if using another compiler, the path has to be specified
// separately
@import '../../../../scss/variables.scss';
#bg {
    background-image: url('https://images.unsplash.com/photo-1459890986562-e2811aaa0e95?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ba922338308bc68dafa428ea7523c8aa');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.collection-header {
    background-image: url('https://images.unsplash.com/photo-1445888834731-95b3d5539bf9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9a941718170bd6db077e6dadc47cb162');
    background-size: cover;
    background-position: 0;
    h5 {
        color: $primary-color-text;
    }
}
.row {
    max-height: 75%;
    margin-bottom: 0;
    padding-bottom: 5%;
    overflow: scroll;
    top: 25%;
    position: relative;
}
#right {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    color: white;
    right: 2%;
}
