<search searchFor="routes"></search>
<google-maps-wrapper [deactivateControlFunctions]="_deactivateControlFunctions"></google-maps-wrapper>
<div class="fixed-action-btn vertical click-to-toggle">
    <a class="btn-floating btn-large">
        <i class="fa fa-bars"></i>
    </a>
    <ul>
        <li>
            <start-user></start-user>
        </li>
        <li>
            <record-route></record-route>
        </li>
        <li>
            <a class="btn-floating"><i class="fa fa-camera-retro" (click)="takePhoto()"></i></a>
        </li>
    </ul>
</div>
<a [routerLink]="['create']"><i id="right" class="fa fa-chevron-right"></i></a>
<a [routerLink]="['forum']"><i id="left" class="fa fa-chevron-left"></i></a>
